@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
*/
.drawerContainer::-webkit-scrollbar {
  width: 8px;                 /* Largura da barra de rolagem */
}

.drawerContainer::-webkit-scrollbar-track {
  background: #1E3A8A;        /* Cor de fundo da trilha (track) */
}

.drawerContainer::-webkit-scrollbar-thumb {
  background-color: #073059;     /* Cor do “thumb” que o usuário arrasta */
  border-radius: 4px;         /* Arredonda as pontas do thumb */
  border: 1px solid #1E3A8A;  /* Cria uma “bordinha” para mesclar com o fundo */
}

/* Suporte para Firefox */
.drawerContainer {
  scrollbar-width: thin;
  scrollbar-color: #073059 #1E3A8A;
}